<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Brand search</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>
  <h2>{{ username }}: {{ bio }}</h2>
  <img src="{{ profile_photo }}" />
  <p>
    <strong>Tweet total: </strong> {{ tweet_total }}
    <strong>Follower count: </strong> {{ followers_count }}
    <strong>Following count: </strong> {{ following_count }}
  </p>
  <p>
    <strong>Word cloud: </strong> <img src="../{{tweet_cloud}}">
  </p>
</body>

</html>
